$json = '<%= @config %>';

$export = json_decode($json, true);

unlink_if_exists('/conf/trigger_initial_wizard');
unlink_if_exists('/conf/assign_complete');

if (isset($config['wizardtemp'])) {
  unset($config['wizardtemp']); 
}

if (!empty($config['version'])) {
  $export['version'] = $config['version'];
}

if (!empty($config['system']['group'])) {
  $config_group_key = array_search('admins', array_column($config['system']['group'], 'name'));
  
  if (isset($config_group_key)) {
    $config_group = $config['system']['group'][$config_group_key];
    
    if (!empty($export['system']['group'])) {
      $export_group_key = array_search('admins', array_column($export['system']['group'], 'name'));
      
      if (!isset($export_group_key)) {
        array_push($export['system']['group'], $config_group);
      }
    } else {
      
      if (!isset($export['system']['group'])) {
        $export['system']['group'] = [];
      }
      array_push($export['system']['group'], $config_group);
    }
  }
}

if (!empty($config['system']['user'])) {
  $config_user_key = array_search('admin', array_column($config['system']['user'], 'name'));
  
  if (isset($config_user_key)) {
    $config_user = $config['system']['user'][0];

    if (!empty($export['system']['user'])) {
      $export_user_key = array_search('admin', array_column($export['system']['user'], 'name'));

      if (isset($export_user_key)) {
        $export_user = $export['system']['user'][$export_user_key];

        if (!empty($config_user['bcrypt-hash'])) {
          $export_user['bcrypt-hash'] = $config_user['bcrypt-hash'];
        }

        if (!empty($config_user['authorizedkeys'])) {
          $export_user['authorizedkeys'] = $config_user['authorizedkeys'];
        }

        $export['system']['user'][$export_user_key] = $export_user;
      } else {
        array_push($export['system']['user'], $config_user);
      }
    } else {
      if (!isset($export['system']['user'])) {
        $export['system']['user'] = [];
      }
      array_push($export['system']['user'], $config_user);
    }
  }
}

$config = $export;

write_config();
reload_all();